.git
.github
.husky
.vscode
.yarn/cache
.yarn/install-state.gz
node_modules
node_modules.noindex
tmp
scripts
*-credentials.yaml
*-credentials.json
gha-creds-*.json
*.local.yaml
z-*
z-*.*
*.tmp
*.bak
*.old
*.new
*.noindex
